body{
    background-color: #fff;
    height: 100vh;
    overflow-y: hidden;
}

.div-list {
  max-height: 40vh;
  overflow-y: scroll;
}

#map {
    height: 70vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc;
   box-shadow:         3px 3px 5px 6px #ccc;
}


.atention {
    padding: 1rem;
    color:#2B3494;
}

.cont {
    height: 13vh;
    background-color:#2B3494!important;
    opacity: 0.9;
    font-family: 'Vesper Libre', serif;
}
.cont h3{
    margin:auto;
    text-align: center;
    color: #ccc;
    padding: 1.5rem 0;
    font-family: 'Vesper Libre', serif;
}
.cont h5 {
    font-size: 1.2rem;
    margin:auto;
    padding: 1.5rem 0;
    color: #ccc;
    font-family: 'Vesper Libre', serif;
}

.svg {
    margin: auto 0;
}
.ecg{
    margin: auto 0;
    width: 100%;
    opacity: 1;
    stroke-dasharray: 600;
    animation: ecg 1.5s linear forwards infinite,
               fade 1.5s linear infinite;
  }
  @keyframes ecg{
    to {
      stroke-dashoffset: -1200;
    }
  }
  @keyframes fade{
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
}

.jumbotron {
    margin: 2rem 0.5rem;
    border-radius: 5%;
    color:  rgba(255,255,255,.5);
    background-color: rgba(29, 39, 148, 0.719)!important;
}

.bg-info {
    background: rgb(43, 52, 148);
    background: linear-gradient(90deg, rgba(43, 52, 148, 1) 0%, rgba(12, 147, 219, 1) 75%, rgba(74, 174, 222, 1) 100%);
}

.jum-features {
    background-color: rgb(228, 228, 228);
    max-width: 100%;
    margin: 0;
    padding: 0;
}



@media (max-width: 420px) {
  .dropdown {
    margin: 1rem 1.5rem;
  }
  #map {
    width: 90vw;
    min-height: 65vh;
  }
}

@media (min-width: 1000px) {
    .form-inline .form-control {
      min-width: 40vw;
    }
}